<section class="#">
  <p>MY PORTFOLIO</p>
  <p>MASATAKA SHIDA</p>
  <p>1994/4/11</p>
</section>



<section class="container">
  <div class="item box-big1"><a href="https://peraichi.com/landing_pages/view/bokuten" target="_blank">ぼくらはてんさい</a></div>
  <div class="item"><a href="https://twitter.com/shida_masataka" target="_blank">twitter</a></div>
  <div class="item">Facebook</div>
  <div class="item"><a href="https://github.com/masatakashida/crayon" target="_blank">CRAYON PJ</a></div>
  <div class="item"><a href="https://github.com/masatakashida" target="_blank">Github</a></div>
  <div class="item box-big2"><a href="http://shidamasataka.hatenablog.com/" target="_blank">Engineer Blog</a></div>
  <div class="item box-big3">G</div>
  <div class="item"><a herf="#">Staging server</a></div>
  <div class="item">I</div>
  <div class="item">J</div>
  <div class="item box-big4">K</div>
</section>



<section class="#">
  <p>MY SKILL</p>
  <p>HTML/CSS/JavaScript/Ruby/Rails/Jenkins/nginx/unicorn/capistrano/AWS/Wordpress/python/vue.js/jQuery/Git/Github/</p>
</section>