<section class="#">
  <p>MY PORTFOLIO</p>
  <p>MASATAKA SHIDA</p>
  <p>1994/4/11</p>
</section>



<section class="container">
  <div class="item box-big1">ぼくらはてんさい</div>
  <div class="item"><a href="https://twitter.com/shida_masataka">twitter</a></div>
  <div class="item">Facebook</div>
  <div class="item">CRAYON PJ</div>
  <div class="item">Github</div>
  <div class="item box-big2">F</div>
  <div class="item box-big3">G</div>
  <div class="item">H</div>
  <div class="item">I</div>
  <div class="item">J</div>
  <div class="item box-big4">K</div>
</section>

<section class="#">
  <p>MY SKILL</p>
  <p>HTML/CSS/JavaScript/Ruby/Rails/Jenkins/nginx/unicorn/capistrano/AWS/Wordpress/python/vue.js/jQuery/Git/Github/</p>
</section>