<!-- SECTION xxx START -->
<section class="xxx">
    <div class="row container"><!-- START ROW & CONTAINER -->
            <div class="col-lg-12">

            	<h1>HTMLで遊ぼう</h1>

            </div>
        </div><!-- END ROW & CONTAINER -->
</section>
<!-- SECTION xxx END -->


<!-- SECTION xxx START -->
<section class="xxx">
    <div class="row container"><!-- START ROW & CONTAINER -->
            <div class="col-lg-12">


            	<!-- フォームを強化する要素 -->

            	<input type="search" name="q" autocomplete="on" list="keywords">
				<datalist id="keywords">
				<option value="ウィキペディア">
				<option value="ウィルス対策">
				<option value="ウィンドウズ">
				</datalist>

				<div contenteditable=true>
				    この文章はブラウザで編集できます
				</div>


            </div>
        </div><!-- END ROW & CONTAINER -->
</section>
<!-- SECTION xxx END -->

<!-- SECTION xxx START -->
<section class="xxx">
    <div class="row container"><!-- START ROW & CONTAINER -->
            <div class="col-lg-12">

            </div>
        </div><!-- END ROW & CONTAINER -->
</section>
<!-- SECTION xxx END -->