<!-- SECTION xxx START -->
<section class="xxx">
    <h1 id="#chap2">HTMLで遊ぼう</h1>
</section>
<!-- SECTION xxx END -->


<!-- SECTION xxx START -->
<section class="xxx">

    <ul>
        <li><a href="#chap1">トップへ</a></li>
        <li><a href="#chap2">フォームを強化する</a></li>
        <li><a href="11.jpg">ダウンロード</a></li>
    </ul>
  

    <!-- フォームを強化する要素 -->

    <input id="chap2" type="search" name="q" autocomplete="on" list="keywords">
    <datalist id="keywords">
    <option value="ウィキペディア">
    <option value="ウィルス対策">
    <option value="ウィンドウズ">
    </datalist>

    <div contenteditable=true>
        この文章はブラウザで編集できます
    </div>

</section>
<!-- SECTION xxx END -->

<hr>

<figure>
    <figcaption>写真のキャプションは画像の上につくのね</figcaption>
    <img src="/assets/11.jpg" alt="" width='200'>
</figure>


<hr>

<section class="xxx">
    

</section>