<h1>Masataka#javascript</h1>
<p>ここはテストです。</p>

<!-- ボタンクリック後に赤色に変わる -->
<button id = "button1" onclick="effect()">ボタンを赤にするよ</button>
<script type="text/javascript">
	
function effect(){
	var button1 = document.getElementById("button1")
	button1.style.backgroundColor = "red"
}

</script>