<h1>Masataka#javascript</h1>
<p id="text1" onclick="test()">ここはテストです。クリックしてはいけません。</p>

<hr>

<div id="news">
	<p>このページをみたら連絡をくださいね！</p>
</div>

<!-- hover sample -->
<h3 class="hover">hover sample</h3>

<div class="launch">マウスをここに持ってこないでね</div>


<hr>

<!-- Vue.js マウスオーバー編-->
 
<h2>Vue.js クリックで切り替わり編</h2>
<div id="msg">
<ul>
	<li v-on:click="change0();" v-model="flg0">MISSION</li>
	<li v-on:click="change1();" v-model="flg1">COMPANY</li>
</ul>

<p v-if="flg">マウスオーバーしていないとき</p>
<p v-if="flg0">MISSIONだよ</p>
<p v-if="flg1">COMPANY</p>
 




<hr>
<!-- クリックで変化 -->
<div class="button-toggle" id="button-toggle" onclick="button()">&#9776;</div>


<!-- ボタンクリック後に赤色に変わる -->
<button id = "button1" onclick="effect()">ボタンを赤にするよ</button>

<hr>


<hr>





<!-- JavaScript -->
<script type="text/javascript">

// 今が午前か午後かを表示するー比較演算子
/*
var now = new Date();
var hour = now.getHours();

if (hour < 12) {
	window.alert('今は午前' + hour + '時です！');
} else {
	window.alert('今は午後' + hour + '時です！');
};
	*/
// ボタン赤色に変化
function effect(){
	var button1 = document.getElementById("button1")
	button1.style.backgroundColor = "red"
};

// 文言クリックでHTML,CSS変化
function test(){
	var text1 = document.getElementById("text1")
	//text1.style.backgroundColor = "blue"
	text1.textContent = "ボタンを押したな！バレバレだぞ！"
	text1.style.fontSize = "50px"
};

// ボタンクリックで新たなボタンを出す
function button(){
	var button = document.getElementById("button-toggle")
	button.innerHTML = "&times;"
};


$('#news')
	.css({
		'top': '-100px'
	})
	.animate({
		'top': '40px'
	})
	.animate({
		'top': '30px'
	}, 500)
	.delay(3000)
	.fadeOut('show')
	.bind('click', function(){
		$(this).stop(true, false).fadeOut('show');
	});

//// クリックで開閉するアコーディオンメニュー
//高さ指定
$('.open-2').each(function(){
    $(this).css("height",$(this).height()+"px");
});
//開閉要素を隠す
$('.open-2').hide();
//ボタン要素が押されたら
$('.btn-2').click(function () {
	//現在の状況に合わせて開閉
    $('.open-2').slideToggle('slow');
    //現在の状況に合わせてクラスをつける
    $(this).toggleClass('active');
});


// Vue.js
function initial(){

	new Vue({
		el: '#msg',
		data: {
			flg:true,
	 		flg0:false,
		} ,
		// クリック時に各プロパティ名をtrue or falseへ変更
		methods: {
			change0: function(){
				this.flg1 = false;
				this.flg0 = true;
				this.flg = false;
			} ,
			change1: function(){
				this.flg0 = false;
				this.flg1 = true;
				this.flg = false;
			}
		}
	})
}

$(function() {
 
  //マウスを乗せたら発動
  $('.launch').hover(function() {
 
    //マウスを乗せたら色が変わる
    $('.hover').css('color', 'red');
 
  //ここにはマウスを離したときの動作を記述
  }, function() {
 
    //色指定を空欄にすれば元の色に戻る
    $('.hover').css('color', '');
 
  });
});

</script>