<h1>Masataka#javascript</h1>
<p id="text1" onclick="test()">ここはテストです。</p>

<hr>

<div id="news">
	<p>このページをみたら連絡をくださいね！</p>
</div>

<!-- Vue.js （vueのインストールが必要）-->
 
<h2>Vue.js</h2>　
<div id="msg">
	<p>{{ message }}</p>
	<input type="text" v-model="message">
	<!-- v-model="message"といのは、「View Modelに保存されているすべての値の中からmessageというものを探し、それをこのコントロールに設定する」ということを示す -->
</div>

　


<hr>
<!-- クリックで変化 -->
<div class="button-toggle" id="button-toggle" onclick="button()">&#9776;</div>


<!-- ボタンクリック後に赤色に変わる -->
<button id = "button1" onclick="effect()">ボタンを赤にするよ</button>

<hr>

<!-- アコーディオンメニュー -->
<h3 class="open_h3 btn-2">BRAND INFO（クリックで開閉するアコーディオンメニュー）</h3>
<p class="info open-2" style="height: 120px; display: block;">1913年に創業者のマリオ・プラダと兄弟によりインポートショップをオープン。世界中の素材や高品質な革を集め、イタリアの技術を投入したアイテムが有名に。1978年に孫娘のミウッチャ・プラダがオーナー兼デザイナーに就任。その後、マリオの使用していたナイロン地“ポコノ”に目を向け、レザーと併用したバッグが大ヒット。逆三角形のロゴプレートが一世を風靡したのは最近の記憶にも新しい。以来、PRADAはクリスマス時のシーズンアイテムや、上質なレザーを使用したSAFFIANOシリーズ等のブランドの代名詞と言われるアイテムを生み出した。近年では、映画への衣装提供・モバイル発売・車のデザイン等、服飾だけでなく様々な分野にも進出し、前進しつづけるブランド。</p>




<hr>

<!-- JavaScript -->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript">

// 今が午前か午後かを表示するー比較演算子
/*
var now = new Date();
var hour = now.getHours();

if (hour < 12) {
	window.alert('今は午前' + hour + '時です！');
} else {
	window.alert('今は午後' + hour + '時です！');
};
	*/
// ボタン赤色に変化
function effect(){
	var button1 = document.getElementById("button1")
	button1.style.backgroundColor = "red"
};

// 文言クリックでHTML,CSS変化
function test(){
	var text1 = document.getElementById("text1")
	//text1.style.backgroundColor = "blue"
	text1.textContent = "ボタンを押したな！バレバレだぞ！"
	text1.style.fontSize = "50px"
};

// ボタンクリックで新たなボタンを出す
function button(){
	var button = document.getElementById("button-toggle")
	button.innerHTML = "&times;"
};

$('#news')
	.css({
		'top': '-100px'
	})
	.animate({
		'top': '40px'
	})
	.animate({
		'top': '30px'
	}, 500)
	.delay(3000)
	.fadeOut('show')
	.bind('click', function(){
		$(this).stop(true, false).fadeOut('show');
	});

//// クリックで開閉するアコーディオンメニュー
//高さ指定
$('.open-2').each(function(){
    $(this).css("height",$(this).height()+"px");
});
//開閉要素を隠す
$('.open-2').hide();
//ボタン要素が押されたら
$('.btn-2').click(function () {
	//現在の状況に合わせて開閉
    $('.open-2').slideToggle('slow');
    //現在の状況に合わせてクラスをつける
    $(this).toggleClass('active');
});


// Vue.js
function initial(){

	new Vue({
		el: '#msg',
		data: {
			message: 'this is Vue.js sample!'
		}
	})
}


</script>