<h1>Masataka#javascript</h1>
<p id="text1" onclick="test()">ここはテストです。クリックしてはいけません。</p>

<hr>

<div id="news">
	<p>このページをみたら連絡をくださいね！</p>
</div>

 
<!--  プラグインを使わずにスライド（左から右へ）  -->
<!--メニューを出すボタン-->
<button id="button"><i class="fa fa-bars"></i> Menu(クリックするとメニュー画面が出てくる。)</button>

<nav class="menu-sp" id="slide_menu">
  <ul>
  	<li>cssで画面の見えないところに</li>
  	<li>配置して</li>
  	<li></li>
  </ul>
</nav>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>

jQuery(function(){
var menu = jQuery('#slide_menu'), // スライドインするメニューを指定
    menuBtn = jQuery('#button'), // メニューボタンを指定
    body = jQuery(document.body),     
    menuWidth = menu.outerWidth();                
     
    // メニューボタンをクリックした時の動き
    menuBtn.on('click', function(){
    // body に open クラスを付与する
    body.toggleClass('open');
        if(body.hasClass('open')){
            // open クラスが body についていたらメニューをスライドインする
            body.animate({'left' : menuWidth }, 300);            
            menu.animate({'left' : 0 }, 300);                    
        } else {
            // open クラスが body についていなかったらスライドアウトする
            menu.animate({'left' : -menuWidth }, 300);
            body.animate({'left' : 0 }, 300);            
        }             
    });
});    
</script>


<div class="photo2"><img src="/assets/11.jpg" alt="" width='200'></div>

<!-- overflow-y -->
<p class="sample4">
<b>auto:スクロールできます！</b><br>
ブラウザに依存します（一般的にはスクロールして見られるようになります）。<br>
Content is clipped and scrolling is added only when necessary.
</p>

<hr>
<!-- hover sample -->
<h3 class="hover">hover sample</h3>

<div class="launch">マウスをここに持ってこないでね</div>

<hr>

<!-- Vue.js マウスオーバー編-->
 
<h2>Vue.js クリックで切り替わり編</h2>
<div id="msg">
<ul>
	<li v-on:click="change0(); colorA();" v-model="flg0" v-bind:class="{'a':isA}">MISSION</li>
	<li v-on:click="change1(); colorB();" v-model="flg1" v-bind:class="{'a':isB}">COMPANY</li>
	<li v-on:click="change2(); colorC();" v-model="flg2" v-bind:class="{'a':isC}">NEWS</li>
</ul>

<p v-if="flg">マウスオーバーしていないとき</p>
<p v-if="flg0">MISSIONだよ</p>
<p v-if="flg1">COMPANY</p>
<p v-if="flg2">NEWS</p>

<hr>





<!-- JavaScript -->
<script type="text/javascript">

// 文言クリックでHTML,CSS変化
function test(){
	var text1 = document.getElementById("text1")
	//text1.style.backgroundColor = "blue"
	text1.textContent = "ボタンを押したな！バレバレだぞ！"
	text1.style.fontSize = "50px"
};

// ボタンクリックで新たなボタンを出す
function button(){
	var button = document.getElementById("button-toggle")
	button.innerHTML = "&times;"
};


$('#news')
	.css({
		'top': '-100px'
	})
	.animate({
		'top': '40px'
	})
	.animate({
		'top': '30px'
	}, 500)
	.delay(3000)
	.fadeOut('show')
	.bind('click', function(){
		$(this).stop(true, false).fadeOut('show');
	});

//// クリックで開閉するアコーディオンメニュー
//高さ指定
$('.open-2').each(function(){
    $(this).css("height",$(this).height()+"px");
});
//開閉要素を隠す
$('.open-2').hide();
//ボタン要素が押されたら
$('.btn-2').click(function () {
	//現在の状況に合わせて開閉
    $('.open-2').slideToggle('slow');
    //現在の状況に合わせてクラスをつける
    $(this).toggleClass('active');
});


// Vue.js
function initial(){

	new Vue({
		el: '#msg',
		data: {
			flg:true,
	 		flg0:false,
	 		flg1:false,
	 		flg2:false,
	 	 	isA:false,
	 	 	isB:false,
	 	 	isC:false,
		} ,
		// クリック時に各プロパティ名をtrue or falseへ変更
		methods: {
			change0: function(){
				this.flg1 = false;
				this.flg0 = true;
				this.flg = false;
				this.flg2 = false;
				this.isA = true;
				this.isB = false;
				this.isC = false;
			} ,
			change1: function(){
				this.flg0 = false;
				this.flg1 = true;
				this.flg = false;
				this.flg2 = false;
				this.isA = false;
				this.isB = true;
				this.isC = false;
			} ,
			change2: function(){
				this.flg1 = false;
				this.flg0 = false;
				this.flg = false;
				this.flg2 = true;
				this.isA = false;
				this.isB = false;
				this.isC = true;
			} 
		}
	})
}

$(function() {
 
  //マウスを乗せたら発動
  $('.launch').hover(function() {
 
    //マウスを乗せたら色が変わる
    $('.hover').css('color', 'red');
 
  //ここにはマウスを離したときの動作を記述
  }, function() {
 
    //色指定を空欄にすれば元の色に戻る
    $('.hover').css('color', '');
 
  });
});

</script>