<main>
	<h3>フロントデザイン</h3>
	<p>１、</p>
	<p>２、</p>
	<p>３、</p>
	<h3>機能</h3>
	<p>１、チャットルームを作る（やべっちできる）</p>
	<p>２、アカウントログインでユーザー名とパスワードを持つ</p>
	<p>３、ログイン状態でチャットをすると、ユーザー名が表示される</p>
	<p>４、部屋を作り、個別の部屋で会話できる</p>
	<p>５、部屋に入るには許可が必要な状態にする</p>
	<h3>テーブル</h3>
	<p>heading:user</p>
	<p>body:</p>
	<table>
		<tr>
			<th>name</th><th>mail?</th>
		</tr>
		<tr>
			<td>志田雅貴</td><td>masatakamsataka@gamil.com</td>
		</tr>
	</table>
	<p>heading:content</p>
	<p>body:</p>
	<table>
		<tr>
			<th>text</th><th>user_id</th>
		</tr>
		<tr>
			<td>おはよう</td><td>1</td>
		</tr>
	</table>
</main>