// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ----------------------------------------------------
header */



/* ----------------------------------------------------
section */

#title{
color: #505050;/*文字色*/
padding: 0.5em;/*文字周りの余白*/
display: inline-block;/*おまじない*/
line-height: 1.3;/*行高*/
background: #dbebf8;/*背景色*/
vertical-align: middle;/*上下中央*/
border-radius: 25px 0px 0px 25px;/*左側の角を丸く*/
}

#title:before {
content: '●';
color: white;
}

.description {
  padding: 5% 10% 0 10%;
}
.protect-policy {
  padding: 1% 10% 0 10%;
}
.handling {
  padding: 5% 10% 0 10%;
}
.title{
  color: blue;
}
.list-style-position{
  list-style-position: inside;
}
.list-style-none {
  list-style: none;
}
.enactment-date {
  padding: 2% 0 0 0;
}
.light-gray {
  color: #999999;
}
.gray {
  color: #666666;
}
.list li {
  padding: 0 0 1% 0;
}
.desc-of-handling {
  padding: 0 0 4% 0;
}
.desc-of-handling h3{
  padding: 0 0 1% 0;
}
.profile {
  padding: 2% 0 0 0;
}

/* ----------------------------------------------------
仮  */






/* ----------------------------------------------------
footer */
.square_btn {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    background: #00BCD4;/*背景色*/
    color: #00BCD4;/*=背景色*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2);
    border-bottom: solid 2px #118e9e;
    border-radius: 4px;
    font-weight: bold;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
}

.square_btn:active {/*押したとき*/
   border-bottom: solid 2px #00BCD4;
   box-shadow: none;
   text-shadow: -1px -1px rgba(255, 255, 255, 0.3), 1px 1px rgba(0, 0, 0, 0.3);
}