// Place all the styles related to the masataka controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/







/*  masataka/css--------------
-----------------------------*/

.item {
  background: #eee;
  padding: 10px;
  border-radius: 8px;
  border: 3px solid #ccc;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1.5fr 1fr 1fr 3fr;
  grid-template-rows: 180px 100px 80px 120px auto;
}

.box-big1 {
  grid-column: 1;
  grid-row: 1 / 4;
  background: #fc2;
  border-color: #fa0;
}
.box-big2 {
  grid-column: 3 / 5;
  background: #0bd;
  border-color: #09c;
}
.box-big3 {
  grid-column: 2 / 4;
  grid-row: 3 / 5;
  background: #c6c;
  border-color: #a4a;
}
.box-big4 {
  grid-column: 1 / 5;
  background: #0ba;
  border-color: #098;
}

@media (max-width: 600px){
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .box-big1,
  .box-big2,
  .box-big3,
  .box-big4 {
    grid-column: 1;
    grid-row: auto;
  }
}




/*  masataka/javascript-------
-----------------------------*/
#news {
	width: 300px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	background-color: #ffc2d7;
	padding: 15px;
	position: absolute;
	left: 210px;
	top: 30px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5)
}


.main {
    width: 960px;
    margin: 0 auto;
    padding: 50px;
    margin: 0 auto;
    vertical-align: top;
    text-align: center;
}
.para {
    padding: 0 0 20px 0
}
.warpper {
    max-width: 340px;
    margin: 0 auto;
    border: solid 1px #000;
}
header {
    background: #000;
    position: relative;
    height: 50px;
    border-bottom: 1px solid #fff;
}
.button-toggle {
    position: absolute;
    width: 28px;
    height: 28px;
    margin: 10px;
    color: #333;
    line-height: 30px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    background: #fff;
    font-size: 90%;
    border: 1px solid #fff;
}
.active {
    color: #fff;
    background: #000;
}
.ttl {
    font-size: 90%;
    float: left;
    height: 5px;
    line-height: 50px;
    width: 100%;
    text-align: center;
    z-index: 999;
}
.ttl a {
    color: #fff;
    text-decoration: none;
}
.menu {
    position: absolute;
    top: 51px;
    left: 0px;
    width: 100%;
    background: #000;
    color: #fff;
    overflow: hidden;
}
.menu a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    border-bottom: 1px solid #555;
    height: 40px;
    line-height: 40px;
    font-size: 90%;
}
section {
    padding: 40px;
}