// Place all the styles related to the masataka controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/







/*  masataka/css--------------
-----------------------------*/

.item {
  background: #eee;
  padding: 10px;
  border-radius: 8px;
  border: 3px solid #ccc;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1.5fr 1fr 1fr 3fr;
  grid-template-rows: 180px 100px 80px 120px auto;
}

.box-big1 {
  grid-column: 1;
  grid-row: 1 / 4;
  background: #fc2;
  border-color: #fa0;
}
.box-big2 {
  grid-column: 3 / 5;
  background: #0bd;
  border-color: #09c;
}
.box-big3 {
  grid-column: 2 / 4;
  grid-row: 3 / 5;
  background: #c6c;
  border-color: #a4a;
}
.box-big4 {
  grid-column: 1 / 5;
  background: #0ba;
  border-color: #098;
}

@media (max-width: 600px){
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .box-big1,
  .box-big2,
  .box-big3,
  .box-big4 {
    grid-column: 1;
    grid-row: auto;
  }
}




/*  masataka/javascript-------
-----------------------------*/
#news {
	width: 300px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	background-color: #ffc2d7;
	padding: 15px;
	position: absolute;
	left: 210px;
	top: 30px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5)
}

p.sample4 {width:200px; height:70px; border: 1px solid black; overflow-y:auto;}


.a {
  color: red;
}


/*-- スライドメニュー --*/

body {
    /*
    position: relative;
    left: 0;
    */
    overflow-x: hidden;
}

#slide_menu{
    position: fixed;
    top: 100;
    left: -70%;
    width: 70%;
    height: 30%;
    background: #E87272;
}


.photo2 {
  overflow:   hidden;
}

.photo2 img{
    transition: 0.3s;
}
 
 
.photo2 img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
