<!DOCTYPE html>
<html>
  <head>
    <title>Crayon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   
  
    <%= yield %>
    <footer>
    	<ul>
    		<li><a href="/masataka/javascript">masataka/javascript</a></li>
    		<li><a href="/masataka/css">masataka/css</a></li>
    	</ul>
    </footer>
  
  </body>
</html>
