<!DOCTYPE html>
<html>
  <head>
    <title>Crayon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <script src="main.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="dist/zoomove.min.js"></script>
    <link rel="stylesheet" href="style.css"></link>
    <link rel="stylesheet" href="dist/zoomove.min.css">

  </head>

  <body onload="initial();">
   
  
    <%= yield %>
    <footer>
    	<ul>
    		<li><a href="/masataka/javascript">masataka/javascript</a></li>
    		<li><a href="/masataka/css">masataka/css</a></li>
    	</ul>
      <div id="copyright">
        <small>Copyright &copy; 2017 Crayon All Rights Reserved.</small>
      </div>
    </footer>
  
  </body>
</html>
